/* BACKGROUND COLORS */
$backgroundBody: #c3cfe2;
$backgroundFooter: #686de0;
$backgroundText: #fff;

/* TEXT */
$fontColorbody: rgb(80, 80, 80);
$fontBody: Helvetica; 
$fontSize: 22px;
$fontColorfooter: rgb(161, 161, 161);

/* OPMAAK */
$boxShadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
